.c-footer {
  -webkit-box-shadow: inset 0px 15px 10px -5px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 15px 10px -5px rgba(0,0,0,0.1);
  box-shadow: inset 0px 15px 10px -5px rgba(0,0,0,0.1);

}






.c-footer__nav {
  padding: 6rem 3rem;


  ul {
    font-size: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @media (min-width: 1200px) {
      display: block;
      text-align: center;
    }

  }

}


.c-footer__item {

  @media (min-width: 1200px) {
    display: inline-block;
  }

  a {
    display: block;
    padding: .5rem 2rem;
    color: inherit;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;

    &:hover {
      color: $brown-primary;
    }

  }

}


.c-footer__disclaimer-privacy {

  display: flex;
  justify-content: space-around;
  padding: 2.5rem;
  border-top: .5px solid #f3f3f3;

  @media (min-width: 768px) {justify-content: center;}

  @media (min-width: 1200px) and (max-width: 1599px) {display: none; }

  a {
    display: block;
    padding: .5rem 2rem;
    color: inherit;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;

    &:hover {
      color: $brown-primary;
    }

  }

}
