
._test {
  background-image: url(../images/slider_img-background1.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  max-width: 80%;
  top: 280px;
  left: 0;

    img {
      position: relative;
      left: 1rem;
      bottom: 1rem;

    }

  @media (min-width: 1200px) {
    left: auto;
    top: 350px;
    right: 5%;

  }

}



.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
