/*MOBILE FIRST*/

/*GENERAL*/

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Libre+Baskerville:400i|Source+Sans+Pro');

html{

}

html, body{
	height: 100%;

}

body{

	font-size: 18px;
	overflow-x: hidden;
	font-family: 'Source Sans Pro', sans-serif;
}

.smoothscroll{
	scroll-behavior: smooth;
}

.placeholder{
	min-height: 50px;
}

h1, h2, h3{
	text-transform: uppercase;
}

h1{
	font-size: 2.8em;
	font-family: 'Fjalla One', sans-serif;
}

h2{
	font-size: 2em;
	font-family: 'Fjalla One', sans-serif;
}

h3{
	font-size: 1em;
}

h4{
	font-size: 1em;
	font-family: 'Libre Baskerville', serif;
}

p{
	line-height: 1.5em;

}

.smoothscroll{

}








.button{
  width: 100%;
	border: none;
	padding: 0.8em;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
}

.button-two{
	width: 100%;
	background: #000000;
	color: #ffffff;
	padding: .8em;
	border: none;
	font-size: 1.2em;
	border-radius: 40px;
	margin: 0.4em;
	cursor: pointer;
}
/*FORM*/

label{
	transition: font-size 1s, color 1s;
	display: block;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
}



form input[type="text"]{
	font-family: 'Libre Baskerville', serif;
	font-size: 1.5em;
	padding: 0.2em;
	transition: border 1s;
	background: #000;
	color: #ffffff;
	width: 100%;
	display: block;
	border: none;
	border-bottom: solid #fff;
}




.checkbox-container{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


form input[type="checkbox"]{
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}


.checkmark {
	top: 0;
	left: 0;
	position: absolute;
  height: 20px;
  width: 20px;
  background-color: none;
	border: 1.5px solid #fff;
}


.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.input-group{
	margin: 20px 0;
}

/*FORM END*/



/*HEADER*/
header{
	box-sizing: border-box;
	background: black url('../img/laag20.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 80vh;
	padding: 1em;
	position: relative;

	/*display: flex;
	align-items: flex-end;
	justify-content: left;*/
}

.nav-top{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 100%;
	top: 0;
}

.boo-logo{
	width: 10em;
}


.nav-top ul{
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.nav-burger{
	color: #fff;
	z-index: 100;
	font-size: 1.2em;
}

.nav-item{
	text-align: center;
	display: none;
	background: #000;
	list-style-type: none;
}

.visible{
	display: block!important;
}

.nav-link{
	transition: .5s color;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	display: block;
	text-decoration: none;
	color: #fff;
	padding:  0.6em 1.2em;
}

.nav-link:hover{
	color: #da0100;
}

.lang-button{
	cursor: pointer;
	display: none;
	color: #fff;
	font-size: 0;
	border-radius: 40px;
	overflow: hidden;
}

.lang-setting{
	font-size: 20px;
	font-weight: bold;
	padding: 0.5em 0.6em;
	display: inline-block;

}

#nl{ background: #da0100; color: #ffffff;}

#en{ background: #101010; color: #404040; }


.hero-text{
	color: #fff;
	position: absolute;
	bottom: 0;
	padding-bottom: inherit;
}

.hero-text p{
	display: none;
}

/*END HEADER*/

/*MAIN*/

section{
}

article{
	box-sizing: border-box;
	padding: 1.8em;
	margin: 0.8em;
}


#two{
	box-sizing: border-box;
	height: 120vh;
	background: url('../img/laag14.png') no-repeat bottom;
	background-size: contain;
}

#two p:nth-of-type(2){
	display: none;
}

#brandbuilders{
	background: url('../img/laag9.png') no-repeat;
	background-size: cover;
	color: #fff;
}

#four{
	box-sizing: border-box;
}

#four h3{
	display: inline-block;
	text-align: center;

}



#four img{
	max-width: 100%;
}


#seven img{
	width: 100%;
	height: auto;
}

#seven .image-container{
	box-sizing: border-box;
	margin: .8em;
}

#eight{
	background: #da0100;
	color: #ffffff;
	text-align: center;
	padding: 0.5em;
}


.button-white{
	background: #ffffff;
	color: #da0100;
}

.button-white:hover{
	background: #dadada;
}


.button-red{
	background: #da0100;
	color: #ffffff;
}


.button-red:hover{
	background: #a70100;
}


/* slideshow */

.slideshow-container{
		margin: 0.8em;
}

.slides{
	box-sizing: border-box;
	display: none;
	padding: 1.5em;
	color: #fff;
	height: 100vh;
}

.haarslev{
	background: url('../img/_HW_7764-bew.png') no-repeat;
	background-size: cover;
}

.slide-container{
	display: flex;
	align-items: center;
}

.slide-thumbnail{
	width: 100%;
	padding: 3em;
	margin: .8em;
	text-align: center;
	background: #f3f3f3;
	cursor: pointer;
}

.slide-button{
	position: absolute;
	cursor: pointer;
	text-align: center;
	background: #ccc;
	padding: 15px;
}

#previous{
	left: 0;
	background: #ffffff;
	color: #ff0000;
}

#next{
	right: 0;
	background: #ff0000;
	color: #ffffff;
}
/* end slideshow */

.locations{
	list-style-image: url('../img/target.png');
	width: 15em;
}

.locations li{
	box-sizing: border-box;
	width: 50%;
	margin: 10px 0;
	float: left;
}

/*contact form*/

.contact-form{
	box-sizing: border-box;
	margin: 0.8em;
	background: #000;
	color: #fff;
	padding: 2.5em;
}

/*end contact form*/

/*END MAIN*/


.clearfix::after{
	content: " ";
	display: block;
	clear: both;
}



/*FOOTER*/
footer h3{

}

/*END FOOTER*/


/* ANIMATIONS */


/*slideshow*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
/

@-webkit-keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}




form .is-selected{
	outline: none;
	border-bottom: solid #ff0000!important;
}

form .shrink{
	color: red;
	font-size: 0.5em;

}
