@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500|Raleway");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: 0 0;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #SHADOWS
\*------------------------------------*/
/*------------------------------------*\
  #ANIMATION
\*------------------------------------*/
/*------------------------------------*\
  #RESPONSIVE
\*------------------------------------*/
/*------------------------------------*\
  #MEDIA QUERRIES
\*------------------------------------*/
/*------------------------------------*\
  #ASPECT RATIO (default 4:3)
\*------------------------------------*/
/*------------------------------------*\
  #GLOBAL STYLES
\*------------------------------------*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 520px) {
  html {
    font-size: 48%;
  }
}

body {
  overflow-x: hidden;
  background-position: center;
}

img {
  max-width: 100%;
  height: auto;
}

/*
hr,
.hr {
  display: block;
  height: 0.1rem;
  border: 0;
  margin: 0;
  padding: 0;
}
*/
figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

main {
  background-image: url("../images/background.png");
  background-size: contain;
  height: 100%;
  /*
    -webkit-box-shadow: 0px 15px 10px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 15px 10px -5px rgba(0,0,0,0.1);
    box-shadow: 0px 15px 10px -5px rgba(0,0,0,0.1);
  */
}
@media (min-width: 1600px) {
  main {
    margin: 0 20rem;
  }
}

button {
  border: none;
  background: none;
}

/*------------------------------------*\
  #TYPOGHRAPY
\*------------------------------------*/
body {
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  margin: 0 0 0.6em 0;
  font-weight: 400;
  line-height: 1.18;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 6rem;
  font-weight: 900;
}
@media (max-width: 550px) {
  h1,
.h1 {
    font-size: 5rem;
  }
}

h2,
.h2 {
  color: #8f6f46;
  font-size: 4.5rem;
  font-weight: 500;
}
@media (max-width: 550px) {
  h2,
.h2 {
    font-size: 4.5rem;
  }
}

h3,
.h3 {
  font-size: 2.8rem;
  font-weight: 500;
}
@media (max-width: 550px) {
  h3,
.h3 {
    font-size: 2.8rem;
  }
}

h4,
.h4 {
  font-size: 2rem;
}
@media (max-width: 550px) {
  h4,
.h4 {
    font-size: 1.7rem;
  }
}

h5,
.h5 {
  font-size: 1.8rem;
}
@media (max-width: 550px) {
  h5,
.h5 {
    font-size: 1.5rem;
  }
}

h6,
.h6 {
  font-size: 1.6rem;
}
@media (max-width: 550px) {
  h6,
.h6 {
    font-size: 1.4rem;
  }
}

p,
.p {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}
p:last-child,
.p:last-child {
  margin-bottom: 0;
}

small {
  font-size: 2rem;
}

/*------------------------------------*\
  #STANDARD BUTTON


\*------------------------------------*/
/*------------------------------------*\
  #Form
\*------------------------------------*/
input {
  border: none;
  background: none;
}
input:focus {
  outline: none;
}

/*------------------------------------*\
  #Form
\*------------------------------------*/
table {
  width: 100%;
}

th {
  text-align: left;
  font-size: 1.7rem;
}

tr:last-child {
  border-bottom: none;
}

tr:after {
  margin-bottom: 30px;
  content: "";
  display: inline-block;
}
tr:after:last-child {
  display: none;
}

.o-container {
  width: 100%;
  margin: 0 auto;
}
.o-container--primary {
  max-width: 1100px;
}
@media (max-width: 1200px) {
  .o-container--primary {
    max-width: calc(100% - 100px);
  }
}
@media (max-width: 750px) {
  .o-container--primary {
    max-width: calc(100% - 80px);
  }
}
@media (max-width: 500px) {
  .o-container--primary {
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 350px) {
  .o-container--primary {
    max-width: calc(100% - 40px);
  }
}
.o-container--secondary {
  max-width: 1275px;
}
@media (max-width: 1375px) {
  .o-container--secondary {
    max-width: calc(100% - 100px);
  }
}
@media (max-width: 750px) {
  .o-container--secondary {
    max-width: calc(100% - 80px);
  }
}
@media (max-width: 500px) {
  .o-container--secondary {
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 350px) {
  .o-container--secondary {
    max-width: calc(100% - 40px);
  }
}

.c-header {
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding: 2rem;
  position: relative;
  align-items: center;
  background: #fff;
}
@media (min-width: 1200px) {
  .c-header {
    padding: 0;
    justify-content: center;
  }
}
@media (min-width: 1600px) {
  .c-header {
    margin: 0 20rem;
  }
}
.c-header > * {
  z-index: 100;
}
@media (min-width: 1200px) {
  .c-header > * {
    margin: 0 4rem;
  }
}

.c-header__logo img {
  max-width: 80%;
}

.c-header__nav {
  overflow: hidden;
  text-align: center;
  height: 0rem;
  width: 100%;
  left: 0;
  top: 100%;
  position: absolute;
  transition: height 1s;
  background: #fff;
}
.c-header__nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 1200px) {
  .c-header__nav {
    height: auto;
    width: auto;
    position: static;
  }
}

@media (min-width: 1200px) {
  .c-header__item {
    display: inline-block;
  }
}
.c-header__item a {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding: 1em;
  display: block;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .c-header__item a {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .c-header__item a {
    padding: 4rem 2rem;
  }
}
.c-header__item a:hover {
  color: #8f6f46;
}

.c-header__toggle {
  font-size: 4rem;
}
@media (min-width: 1200px) {
  .c-header__toggle {
    display: none;
  }
}

.c-header__widgets {
  display: none;
}
@media (min-width: 768px) {
  .c-header__widgets {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.c-header__search {
  background: #f3f3f3;
  padding: 0 2rem;
  border-radius: 1rem;
  margin-right: 2rem;
}
.c-header__search input {
  width: 200px;
  padding: 1.5rem 0;
}
@media (min-width: 1600px) {
  .c-header__search input {
    width: 120px;
  }
}

.c-hero-slider-container {
  height: 65rem;
  position: relative;
}
@media (min-width: 768px) {
  .c-hero-slider-container {
    height: 100rem;
  }
}
@media (min-width: 1200px) {
  .c-hero-slider-container {
    height: 80rem;
  }
}

.c-hero-slider-buttons {
  padding: 1.5rem;
  text-align: right;
}
@media (min-width: 1200px) {
  .c-hero-slider-buttons {
    text-align: left;
  }
}

.c-hero-slider {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 45rem;
  padding: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}
.c-hero-slider h1 {
  text-shadow: 2px 8px 9px #000000;
}
@media (min-width: 768px) {
  .c-hero-slider {
    height: 65rem;
  }
}

.c-hero-slider__slide-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/Home_2019_2.png");
}

.c-hero-slider__slide-2 {
  background: blue;
}

.c-hero-slider__slide-3 {
  background: red;
}

.c-hero-slider-text {
  margin: 0 auto;
  max-width: 40rem;
}
@media (min-width: 1200px) {
  .c-hero-slider-text {
    text-align: left;
    margin: 0;
  }
}

.c-hero-slider-img-1,
.c-hero-slider-img-2 {
  position: absolute;
  width: 30rem;
}
@media (min-width: 768px) {
  .c-hero-slider-img-1,
.c-hero-slider-img-2 {
    width: 55rem;
  }
}

.c-hero-slider-img-1 {
  bottom: -18rem;
  left: 0;
}
@media (min-width: 768px) {
  .c-hero-slider-img-1 {
    bottom: -30rem;
  }
}
@media (min-width: 1200px) {
  .c-hero-slider-img-1 {
    left: auto;
    bottom: -15rem;
    right: 15rem;
  }
}

.c-hero-slider-img-2 {
  bottom: -15rem;
  left: 3.5rem;
}
@media (min-width: 768px) {
  .c-hero-slider-img-2 {
    bottom: -25rem;
  }
}
@media (min-width: 1200px) {
  .c-hero-slider-img-2 {
    left: auto;
    bottom: -12rem;
    right: 10rem;
  }
}

.c-product-slider-container {
  height: 35rem;
  position: relative;
  background: #dbd7cf;
}

.c-product-slider {
  display: grid;
  text-align: center;
  justify-content: space-around;
  padding: 5rem;
  height: 30rem;
  background: #e5e2db;
}
.c-product-slider img {
  height: 25rem;
}
.c-product-slider article {
  display: none;
  transform: translateY(-8rem);
}
.c-product-slider article:first-of-type {
  display: block;
}
@media (min-width: 768px) {
  .c-product-slider article:nth-of-type(2) {
    display: block;
  }
}
@media (min-width: 1200px) {
  .c-product-slider article:nth-of-type(3) {
    display: block;
  }
}
.c-product-slider h2 {
  font-size: 3rem;
}
@media (min-width: 768px) {
  .c-product-slider {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .c-product-slider {
    grid-template-columns: repeat(3, 1fr);
  }
}

.c-quote-slider {
  position: relative;
}
@media (min-width: 1200px) {
  .c-quote-slider {
    margin: 1rem 0 1rem 8rem;
  }
}
@media (min-width: 1600px) {
  .c-quote-slider {
    margin: 0;
  }
}

.c-quote-slider__slide {
  display: flex;
  padding: 5rem;
  height: 70rem;
  align-items: center;
  text-align: center;
  color: #fff;
}
@media (min-width: 768px) {
  .c-quote-slider__slide {
    padding: 10rem;
  }
}
@media (min-width: 1200px) {
  .c-quote-slider__slide {
    float: right;
    padding: 15rem;
  }
  .c-quote-slider__slide .u-triangle {
    display: block;
  }
}
@media (min-width: 1600px) {
  .c-quote-slider__slide {
    float: right;
    height: 800px;
  }
}

.c-quote-slider__slide--slide1 {
  width: 100%;
  position: relative;
  background: url("../images/Home_2019_3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -10rem;
}

@media (min-width: 1200px) {
  .c-quote-slider__text {
    max-width: 40rem;
  }
}
.c-quote-slider__text p {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 3rem;
}

.c-products-container {
  padding: 0;
  margin-top: 15rem;
  background: #e5e2db;
  position: relative;
}
@media (min-width: 768px) {
  .c-products-container .u-triangle {
    display: block;
  }
}
@media (min-width: 1200px) {
  .c-products-container {
    margin: 15rem 8rem 0 0;
  }
}
@media (min-width: 1600px) {
  .c-products-container {
    margin: 15rem 0 0 0;
  }
}
.c-products-container div {
  text-align: center;
}
.c-products-container img {
  transform: translateY(-5rem);
}

.c-banner {
  height: 45rem;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.c-banner h1 {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .c-banner h1 {
    margin: 0 25rem;
  }
}
.c-banner.c-banner--men {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/banners/Paginaslider_Men_2019.png");
}
.c-banner.c-banner--about {
  background-image: url("../images/banners/Paginaslider_About_2019.png");
}
.c-banner.c-banner--stores {
  background-image: url("../images/Home_2019_4.png");
  height: 50rem;
}
.c-banner.c-banner--contact {
  background-image: url("../images/banners/Paginaslider_Contact_2019.png");
}
.c-banner.c-banner--search {
  background-image: url("../images/Home_2019_2.png");
  justify-content: center;
  flex-direction: column;
}
.c-banner.c-banner--search input {
  background: #fff;
  margin: 5rem 0 0 0;
  padding: 2rem;
  width: 50rem;
}

/*

.c-store-finder {
  position: relative;


  @media (min-width: 768px) {
    padding-bottom: 25rem;
  }

}
*/
.c-store-finder-hero {
  position: relative;
  height: 30rem;
  background: url("../images/Home_2019_4.png");
  background-size: cover;
}
@media (min-width: 768px) {
  .c-store-finder-hero {
    height: 50rem;
  }
}
@media (min-width: 1200px) {
  .c-store-finder-hero {
    margin: 8rem 8rem 0 0;
  }
  .c-store-finder-hero .u-triangle {
    display: block;
  }
}
@media (min-width: 1600px) {
  .c-store-finder-hero {
    margin: 8rem 0 0 0;
  }
}

.c-store-finder {
  padding: 8rem 5rem;
  display: block;
  text-align: center;
  background-color: #823039;
}
.c-store-finder h2 {
  color: #fff;
}
@media (min-width: 768px) {
  .c-store-finder {
    width: 720px;
    position: relative;
    bottom: 12rem;
    margin: 0 auto;
  }
  .c-store-finder .u-triangle {
    display: block;
  }
}
.c-store-finder form div {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5rem;
  background: #fff;
}
.c-store-finder form div button {
  font-size: 1.5rem;
  border-radius: 50%;
  background: #955057;
  height: 4rem;
  width: 4rem;
  color: #fff;
}

.c-gallery {
  background: #e5e2db;
  display: grid;
  padding: 1rem;
  grid-gap: 1.5rem;
}
@media (min-width: 768px) {
  .c-gallery {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 10rem 0;
  }
}
@media (min-width: 1200px) {
  .c-gallery {
    grid-template-columns: repeat(3, 1fr);
    padding: 10rem;
  }
}

.c-gallery-item {
  background: #fff;
}
.c-gallery-item h3 {
  color: #8f6f46;
}
.c-gallery-item:hover {
  background: #8f6f46;
}
.c-gallery-item:hover * {
  color: #fff;
}

.c-gallery-item__text {
  padding: 5rem;
  height: 35rem;
}

.c-gallery-item__links {
  display: flex;
}
.c-gallery-item__links a {
  display: block;
  width: calc(100%/3);
  border: 1px solid #e5e2db;
  padding: 2rem;
  text-align: center;
}

.c-gallery-item__km {
  display: inline-block;
  padding: 0.2rem 1rem;
  margin-bottom: 2.5rem;
  color: #8f6f46;
  text-transform: uppercase;
  font-family: "Oswald";
  border: 1px solid;
}

.checkbox {
  border: solid;
  padding: 1rem;
  background: #fff;
}

.c-form {
  padding: 5rem;
  background: #8f6f46;
  color: #fff;
}
.c-form .input-group {
  margin: 1.5rem 0;
}
.c-form input {
  color: #000;
  padding: 1.5rem;
  background: #fff;
  border-left: solid 5px #b59162;
}
.c-form input[name=firstname] {
  margin-right: 2%;
}
.c-form input[name=firstname],
.c-form input[name=lastname] {
  width: 49%;
}
.c-form input[name=email] {
  width: 100%;
}
.c-form textarea {
  width: 100%;
  resize: none;
  outline: none;
  padding: 1.5rem;
  height: 12rem;
  border-left: solid 5px #b59162;
  color: #000;
}
.c-form p {
  max-width: 100rem;
}
.c-form button {
  border: solid;
  padding: 0;
}

.c-button {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.2px;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: 5rem;
  border: none;
  padding: 0.8rem 3rem;
}
.c-button--border-brown {
  border: 2px solid #8f6f46;
  color: #8f6f46;
  background: #fff;
}

.c-button--border-white {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: none;
}

.c-button--fill {
  color: #fff;
  background-color: #8f6f46;
}

.o-hero-slider-buttons .c-slider-button {
  border-radius: 50%;
  margin: 2px;
  border: 2px solid;
  padding: 2.5px;
  display: inline-block;
}

.c-social-button {
  height: 5rem;
  width: 5rem;
  border: 1px solid #dcdcdc;
  border-radius: 1rem;
  margin: 0 0.5rem;
}
@media (min-width: 1200px) {
  .c-social-button {
    display: none;
  }
}
@media (min-width: 1600px) {
  .c-social-button {
    display: block;
  }
}

/*
.c-image {
  margin-top: 50px;
}
*/
.c-image-container {
  margin: 5rem 0;
}
.c-image-container h2 {
  color: #fff;
}
@media (min-width: 768px) {
  .c-image-container {
    display: flex;
    justify-content: space-between;
  }
}

.c-img {
  display: flex;
  width: 100%;
  height: 384px;
  margin: 10px 0;
  padding: 5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  color: #fff;
}
@media (min-width: 768px) {
  .c-img {
    width: 49.5%;
    height: 507px;
  }
}

.c-logo {
  width: 100%;
  padding: 8rem;
  text-align: center;
}
@media (min-width: 768px) {
  .c-logo {
    padding: 0 0 10rem 0;
  }
}

.c-footer {
  -webkit-box-shadow: inset 0px 15px 10px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 15px 10px -5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 15px 10px -5px rgba(0, 0, 0, 0.1);
}

.c-footer__nav {
  padding: 6rem 3rem;
}
.c-footer__nav ul {
  font-size: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1200px) {
  .c-footer__nav ul {
    display: block;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .c-footer__item {
    display: inline-block;
  }
}
.c-footer__item a {
  display: block;
  padding: 0.5rem 2rem;
  color: inherit;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}
.c-footer__item a:hover {
  color: #8f6f46;
}

.c-footer__disclaimer-privacy {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem;
  border-top: 0.5px solid #f3f3f3;
}
@media (min-width: 768px) {
  .c-footer__disclaimer-privacy {
    justify-content: center;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .c-footer__disclaimer-privacy {
    display: none;
  }
}
.c-footer__disclaimer-privacy a {
  display: block;
  padding: 0.5rem 2rem;
  color: inherit;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}
.c-footer__disclaimer-privacy a:hover {
  color: #8f6f46;
}

.u-bg-cover-center {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.u-bg-contain-center {
  background-position: center center;
  background-repeat: no-repeat;
}

.u-bg-contain-top {
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.u-bx-shadow {
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
}
.u-bx-shadow--small {
  box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.15);
}

.u-reset-ul {
  padding: 0;
  margin: 0;
}
.u-reset-ul li {
  list-style-type: none;
}

.u-reset-arrow-list {
  margin-bottom: 2rem;
}
.u-reset-arrow-list li a {
  display: block;
}
.u-reset-arrow-list li a img {
  width: 15px;
}

.u-skew-45 {
  transform: skew(45deg);
}

.u-unskew-45 {
  transform: skew(-45deg);
}

.u-flex {
  display: flex;
}
.u-flex--half {
  width: 50%;
  margin: 0.5rem 0;
}
.u-flex--half:nth-of-type(2n) {
  margin: 0.5rem 0 0.5rem 1rem;
}
.u-flex--center {
  justify-content: center;
  align-items: center;
}
.u-flex--between {
  justify-content: space-between;
}
.u-flex--around {
  justify-content: space-around;
}

.u-grid {
  display: grid;
  grid-row-gap: 15rem;
}
@media (min-width: 768px) {
  .u-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .u-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.u-column-2 {
  column-count: 2;
}

.u-space {
  padding: 4rem 0;
}
@media (max-width: 900px) {
  .u-space {
    padding: 2rem 0;
  }
}
.u-space--middle {
  padding: 0 5rem;
}
@media (max-width: 600px) {
  .u-space--middle {
    padding: 0 3rem;
  }
}
.u-space--large {
  padding: 12rem 0;
}
@media (max-width: 600px) {
  .u-space--large {
    padding: 4rem 0;
  }
}
.u-space--small {
  padding: 2rem 0;
}

.u-border-radius-primary {
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.u-text-align--left {
  text-align: left;
}
.u-text-align--center {
  text-align: center;
}
.u-text-align--right {
  text-align: right;
}

.u-triangle {
  display: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6.4rem 6.4rem 0;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.u-triangle.u-triangle--left-bottom {
  top: inherit;
  right: inherit;
  left: 0;
  bottom: 0;
  border-width: 6.4rem 0 0 6.4rem;
  border-color: transparent transparent transparent #ffffff;
}
.u-triangle.u-triangle--right-top {
  top: inherit;
  right: inherit;
  right: 0;
  top: 0;
  border-width: 0 6.4rem 6.4rem 0;
}

.c-header__nav.is-visible {
  height: 100vh;
}

.c-hero-slider.is-active {
  display: flex;
}

.c-slider-button.is-active {
  background: #000;
}

._test {
  background-image: url(../images/slider_img-background1.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  max-width: 80%;
  top: 280px;
  left: 0;
}
._test img {
  position: relative;
  left: 1rem;
  bottom: 1rem;
}
@media (min-width: 1200px) {
  ._test {
    left: auto;
    top: 350px;
    right: 5%;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

/*# sourceMappingURL=main.css.map */
