
.c-gallery {
  background: #e5e2db;
  display: grid;
  padding: 1rem;
  grid-gap: 1.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 10rem 0;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 10rem;
  }


}

.c-gallery-item {
  background: #fff;


  h3 {
    color: $brown-primary;
  }

  &:hover {
    background: $brown-primary;

    * {color: #fff;}
  }




}


.c-gallery-item__text {
  padding: 5rem;
  height: 35rem;
}


.c-gallery-item__links {
  display: flex;
  a {
    display: block;
    width: calc(100%/3);
    border: 1px solid  #e5e2db;
    padding: 2rem;
    text-align: center;

  }

}

.c-gallery-item__km {
  display: inline-block;
  padding: .2rem 1rem;
  margin-bottom: 2.5rem;
  color: $brown-primary;
  text-transform: uppercase;
  font-family: 'Oswald';
  border: 1px solid;

}


.checkbox {
  border: solid;
  padding: 1rem;
  background: #fff;
}
