

.c-header__nav {

  &.is-visible {
    height: 100vh;

  }

}






.c-hero-slider {

  &.is-active {
    display: flex;

  }

}



.c-slider-button {

  &.is-active {
    background: #000;

  }
}


.is-hidden



.is-selected {

}
