
html, body{
	height: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
}


*{
	box-sizing: border-box;
	/*word-break: break-all;*/
}


body{
	background: #fcfcfc;
	color: black;
	font-family: 'Arbutus Slab', serif;
	scroll-behavior: smooth;
	animation: 2s fadein; 	
}

.main{
	text-align: center;
}


.menu{
	font-size: 0;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.wrapper{
	padding: 0;
	margin: 0;
	width: 100%;
	background: #1c1c1c;
}


.menu__link{
	margin: 10px 70px; 
	display: inline-block;
	border: solid;
	background: black;
	text-decoration: none;
}

.menu__link a{
	min-width: 300px;
	padding: 20px;
	display: block;
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}






.title{
	font-size: 50px;
	margin: 15px;
	padding: 0;
}


#modal{
	display: none;
	background: rgba(0, 0, 0);
	background: rgba(0, 0, 0, .8);
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}


.modal__content{
	transition: 2s;
	animation: slideIn 0.5s linear;
	overflow: auto;
	background: #ffffff;
	position: absolute;
	text-align: center;
	top: 15%;
	left: 15%;
	height: 70%;
	width: 70%;
}


.show{
	display: block!important;
}




.modal__header{
	padding: 20px;
}


.modal__title{
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 40px;
}


.modal__image{
	width: 40%;
	display: inline-block;
	margin: 10px;

	}

.modal__description{
	margin: 5px;
}


.modal__text{
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	line-height: 25px;
}

#closeModal{
	color: #ccc;
	display: inline;
	cursor: pointer;
	font-size: 40px;
	float: right;
}

#closeModal:hover{
	color: #000000;
}


.clearfix::after{
	content: "";
	display: block;
	clear: both;
}


.image-special{
	border-left: solid #000 5px;
	border-right: solid #000 5px;
	margin: 0;
	padding: 0;
	/*box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);*/
	animation: grow 2s;
}



#description{
	display: inline-block;
	margin: 20px 0;
	cursor: pointer;
	font-size: 30px;
	
}

#description:hover{
	color: #ff0000;
}


@keyframes slideIn{
	0%{transform: translateY(-1000px);}
	100%{transform: translateY(0px);}
}

@keyframes fadein{
	from {opacity: 0.1;}
	to {opacity: 1;}
}