html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}



body{
	color: #ffffff;
	background: #ffffff;
	/*font-family: 'Arbutus Slab', serif;*/
	/*font-family: 'Inconsolata', monospace;*/
	font-family: 'Bitter', serif;

}


ul{
	padding: 0;
	margin: 0;
}

/************ HEADER ************/

.header{
	height: 100vh;
	background: #3d3d4e;
	padding: 0;
	margin: 0;
}

.banner{
	background: #292935;
	width: 100%;
	/*height: 75%;*/
	height: 550px;
	margin: 0;
	padding: 0;
	border-bottom: solid 15px #ffffff;
	text-align: center;
}



.banner-text{
	position: relative;
	font-size: 100px;
}



.start{

}

a.button{
	position: relative;
	top: 50px;
	text-decoration: none;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	padding: 15px;
	background: #ffffff;
	border-radius: 10%;;
}

a.button-small{
	position: static;
	margin: 5px;
	font-size: 15px;
	padding: 5px 10px;
}



/************ NAVIGATION ************/


.nav-top{
	background: #000000;
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	font-size: 0;
	margin: 0;
	padding: 0;
}

.menu-button{
	font-size: 25px;
	padding: 10px;
	margin: 0;
}

.nav-item{
	display: none;
	list-style-type: none;
}

.nav-item a{
	display: block;
	text-align: center;
	padding: 15px 20px;
	text-transform: uppercase;
	font-size: 22px;
	color: #888888;
	text-decoration: none;
}

.active a{
	color: #ffffff;
}


.nav-item a:hover{
	color: #ccc;
}

.social-links{
	display: none;
	list-style-type: none;
	position: absolute;
	left: 0;
}

.social-links li{
	margin: 20px;
}

.social-links a{
	font-size: 28px;
	color: #ffffff;
}


.social-links a:hover{

}

.intro-name{
	margin: 0;
	padding: 0;
}

.intro-text{
	font-size: 1.5em;
	width: 80%;
	margin: auto;
}



#about{
	background: #343442;
}


#portfolio{
	background: #2e2e3a;
}


#resume{
	background: #343442;
}

#contact{
	background: #3d3d4e;
}


.section{
	min-height: 100vh;
	padding: 5px;
}

.grid-container{
	display: grid;
	display:-ms-grid;
	-mis-grid-columns: 75%;
	grid-template-columns: 75%;
	grid-gap: 20px;
	justify-content: center;
	padding: 10px;
	margin: 0;
}


.item{
	overflow: hidden;
	position: relative;
	display: block;
}

.item:hover .overlay{
	opacity: 1;
}

.item-title{
	margin: 0;
	padding: 0;
	font-size: 24px;
	text-align: center;
	color: #ffffff;
	/*background: #ffffff;*/
}

.item-image{
	margin: 0;
	width: 100%;
}

.overlay{
	opacity: 0;
	box-sizing: border-box;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	transition: 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
	text-align: center;
}


.flex-container{
	display: flex;
}

.flex-item{
	width: 50%;
}

.modal{
	display: none;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.modal-content{
	position: relative;
	width: 50%;
	height: 75%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #ffffff;
	color: #000000;
}

.modal-close{
	position: absolute;
	right: 0;
	padding: 20px;
	cursor: pointer;
	font-size: 25px;
}

.modal-close:hover{
	color: #888888;
}

.skill-item{
	margin: 25px 0;
}

.skill-bar{
	width: 100%;
	background: #ccc;
}

.skill-name{
	text-align: left;
	margin: 0;
}

.skill-bar, .skill{
	border-radius: 25px;
}

.skill{
	background: #ffffff;
	height: 20px;
}

.skill.html{
	width: 85%;
}

.skill.css{
	width: 85%;
}

.skill.javascript{
	width: 75%;
}

.skill.php{
	width: 50%;
}

.box{
	overflow: auto;
	border: solid 6px #fff;
	padding: 50px;
	background: #3d3d4e;
}

.filter{
	margin: 0;
	padding: 0;
}

.filter__btn{
	display: inline-block;
	border: solid;
	border-bottom: none;
	margin: 20px 5px;
}


.filter__btn:hover a{
	font-weight: bold;
}

.filter__btn a{
	color: black;
	display: block;
	padding: 5px 15px;
	text-decoration: none;
}


.filterBtnActive a{
	font-weight: bold;
}


.clearfix::after{
	content: " ";
	display: block;
	clear: both;
}



/************ ANIMATIONS ************/
 

