.c-hero-slider-container {
	  height: 65rem;
		position: relative;

		@media (min-width: 768px) {
			height: 100rem;
		}

		@media (min-width: 1200px) {
			height: 80rem;
		}
}


.c-hero-slider-buttons {
  padding: 1.5rem;
	text-align: right;

	@media (min-width: 1200px) {
		text-align: left;
	}

}


.c-hero-slider {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 45rem;
  padding: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;

  h1 {text-shadow: 2px 8px 9px #000000;}


  @media (min-width: 768px) {
    height: 65rem;


  }

}


.c-hero-slider__slide-1 {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../images/Home_2019_2.png');
    //background-position: -20rem;

}

.c-hero-slider__slide-2 {
    background: blue;

}


.c-hero-slider__slide-3 {
    background: red;

}

.c-hero-slider-text {
  margin: 0 auto;
  max-width: 40rem;
  @media (min-width: 1200px) {
    text-align: left;
    margin: 0;
  }
}




.c-hero-slider-img-1,
.c-hero-slider-img-2 {
  position: absolute;
  width: 30rem;

  @media (min-width: 768px) {
    width: 55rem;
  }



}


.c-hero-slider-img-1 {
  bottom: -18rem;
  left: 0;
  @media (min-width: 768px) {
    bottom: -30rem;
  }

  @media (min-width: 1200px) {
    left: auto;
    bottom: -15rem;
    right: 15rem;

  }

}


.c-hero-slider-img-2 {
  bottom: -15rem;
  left: 3.5rem;

  @media (min-width: 768px) {
    bottom: -25rem;
  }

  @media (min-width: 1200px) {
    left: auto;
    bottom: -12rem;
    right: 10rem;

  }

}


.c-product-slider-container {
	height: 35rem;
  position: relative;
	background: #dbd7cf;
}


.c-product-slider {
  display: grid;
  text-align: center;
  justify-content: space-around;
  padding: 5rem;
  height: 30rem;
  background: #e5e2db;

  img {
    height: 25rem;
  }

  article {
    display: none;
    transform: translateY(-8rem);

    &:first-of-type {
      display: block;
    }

    &:nth-of-type(2) {
      @media(min-width: 768px) {display: block;}

    }

    &:nth-of-type(3) {
      @media(min-width: 1200px) {display: block;}

    }

  }



  h2 {
    font-size: 3rem;
  }



  @media(min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

  }

  @media(min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}


.c-quote-slider {
	position: relative;

	@media (min-width: 1200px) {
		margin: 1rem 0 1rem 8rem;
	}

	@media (min-width: 1600px) {
		margin: 0;
	}


}

.c-quote-slider__slide {
  display: flex;
  padding: 5rem;
  height: 70rem;
  align-items: center;
  text-align: center;
  color: #fff;
  @media (min-width: 768px) {
    padding: 10rem;
  }
  @media (min-width: 1200px) {
    float: right;
    padding: 15rem;
    .u-triangle {display: block;}
  }

  @media (min-width: 1600px) {
    float: right;
    height: 800px;

  }

}

.c-quote-slider__slide--slide1 {
  width: 100%;
  position: relative;
  background: url('../images/Home_2019_3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -10rem;
}


.c-quote-slider__text {
  @media (min-width: 1200px) {
    max-width: 40rem;
  }

  p {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 3rem;
  }

}
